body {
}

#savedTrackList {
    font-size: 18px;
    color: #009900;
    font-weight: 500;
    font-style: oblique;
}

#login, #loggedin {
    display: none;
}

.text-overflow {
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    width: 100%;
}
h2{
    text-align: center;
}
#trackOutput{
    word-wrap:break-word;
}

#trackOutputDiv {
    float:right
}

#friendDropDown {
    
    text-align:center;
}

#greenBanner {
    background-color:#009000;
    color: #000;
}
